@charset "UTF-8";
/* 모달창 */
* {
	box-sizing: border-box;
}

.modal {
	/* 스타일 - customize */
	background-color: rgba(0, 0, 0, 0.7);
	pointer-events: none;
	padding: 20px;
	/* 트랜지션 효과 */
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
	/* 화면 전체를 덮게하는 코드 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* 중앙에 오게하는 코드 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalfrm {
	/* 스타일 - customize */
	max-width: 600px;
	width: 100%;
	height: 800px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	/* 트랜지션 효과 */
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	transform: scale(0.8);
}

.modal.show {
	/* 모달이 열렸을 때 보여지게 하는 코드 */
	opacity: 1;
	pointer-events: auto;
}

.modal.show .modalfrm {
	/* 모달이 열렸을 때 보여지게 하는 코드 */
	opacity: 1;
	transform: scale(1);
}

.close, .save {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .save:hover {
	color: black;
}

.modal-foot {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

/* 작성, 취소 버튼 스타일 */
.modal-foot button {
	padding: 8px 15px 8px 15px;
	min-width: 100px;
	height: auto;
	background: #fff;
	color: #5877f9;
	border: 1px solid #5877f9;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.modal-foot button:hover {
	background : #5877f9;
	color: #fff;
}

/* 별점 스타일 */
.star_rating {
	width: 100%;
	box-sizing: border-box;
	display: inline-flex;
	float: left;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.star_rating .star {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: inline-block;
	background-image: url("../review_image/icons8-star-filled-40.png");
	background-repeat: no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

.star_rating .star.on {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	display: inline-block;
	background-image: url("../review_image/icons8-채워진-스타-48.png");
	background-repeat: no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}
/* 콘텐츠 스타일 */
.review_content {
	width: 100%;
	border-radius: 10px;
	resize: none;
	height: 150px;
	margin: 10px 0px 10px;
	
}

.review_content:focus {
	outline-color: #5877f9;
}
/* 파일 인풋 버튼 스타일 */
.btn-upload {
	padding: 8px 15px 8px 15px;
	min-width: 150px;
	height: 150px;
	background: #fff;
	color: #5877f9;
	border: 1px solid #5877f9;
	border-radius: 10px;
	font-weight: 500;
	font-size: 25px;
	float: left;
	margin: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center; 	
}
.btn-upload:hover { 
	background : #5877f9;
	color: #fff;
	}
#file {
	display: none;
}

/* 모달버튼 */
#modalBtn {
	padding: 8px 15px 8px 15px;
	min-width: 100px;
	height: auto;
	box-sizing: border-box;
	border-radius: 50px;
	font-size: 12px;
	font-weight: 700;
	background-color: #5877f9;
	border: 2px solid #5877f9;
	color: #ffffff;
}

#showimg {
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	margin: 5px;
	
}
.img-wrapper {
  position: relative;
  display: inline-block;
}

.img-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  color: red;
  cursor: pointer;
}
