@charset "UTF-8";

.title {
		border: 1px solid gray;
		height: 310px;
		background-color: #6994BF;
		display: block; /* flex 제거 */
		padding: 30px 50px; /* 내부 여백 추가 */
		color: white;
	}

	.title-content {
		max-width: 1200px;
		margin: 0 auto;
		margin-top: 60px; /* 위쪽에서 20px 내려오기 */
	}

	.title-content h1 {
		margin: 0;
		font-size: 36px;
		font-weight: normal; /* 볼드 제거 */
		text-align: left; /* 왼쪽 정렬 */
	}

	.title-content .desc {
		font-size: 18px;
		margin-bottom: 20px;
		text-align: left; /* 왼쪽 정렬 */
	}

	.board_menu td {
		width: 300px;
		height: 80px;
		font-size: 22px;
		cursor: pointer;
		text-align: center;
		vertical-align: middle;
		border: 1px solid #ccc;
		padding: 0;
		font-weight: normal; /* td 기본은 normal */
	}

	.board_menu td a {
		display: block;
		color: inherit;
		text-decoration: none;
		height: 100%;
		width: 100%;
		line-height: 80px;
	}

	.board_menu td.active {
		background-color: #2C3E50;
		color: white;
		font-weight: bold;
	}
	