@charset "UTF-8";

.notice-wrapper{
	width: 80%;
	margin-top: -120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.notice-wrapper-support{
	width: 80%;
	margin-top: -160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.notice-header {
	width: 1400px;
	padding-top: 80px;
}

.notice-header h3 {
	color: #2C3E50;
}

.notice-header hr {
	width: 100%;
	margin: 0;
	border-top: 3px solid #2C3E50;
}
.notice-table{
	width: auto;
	max-width: 1400px;
}
.status-answered { color: white; font-weight: bold; }
.status-unanswered { color: white; font-weight: bold;}
.notice-header select { margin-bottom: 10px; padding: 5px; border-radius: 4px; }

.board-search-container {
    position: relative; /* z-index를 적용하기 위해 필요합니다 */
    z-index: 2;        /* 다른 요소들보다 위에 있도록 숫자를 부여합니다 */
}
#answerFilter{
	position: relative; /* z-index를 적용하기 위해 필요합니다 */
    z-index: 2;        /* 다른 요소들보다 위에 있도록 숫자를 부여합니다 */
}
