@charset "UTF-8";

.notice-wrapper {
	width: 100%;
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.notice-header {
	width: 1400px;
}
.notice-header hr {
	width: 100%;
	margin: 0;
	border: none;
	border-top: 3px solid black;
}
.notice-table{
	width: auto;
	max-width: 1400px;
}

